@font-face {
    font-family: 'segoeuilight';
    src: url('../fonts/segoeuilight.eot');
    src: url('../fonts/segoeuilight.eot') format('embedded-opentype'),
         url('../fonts/segoeuilight.woff2') format('woff2'),
         url('../fonts/segoeuilight.woff') format('woff'),
         url('../fonts/segoeuilight.ttf') format('truetype'),
         url('../fonts/segoeuilight.svg#segoeuilight') format('svg');
}
@font-face {
    font-family: 'segoeuisemibold';
    src: url('fonts/segoeuisemibold.eot');
    src: url('fonts/segoeuisemibold.eot') format('embedded-opentype'),
         url('fonts/segoeuisemibold.woff2') format('woff2'),
         url('fonts/segoeuisemibold.woff') format('woff'),
         url('fonts/segoeuisemibold.ttf') format('truetype'),
         url('fonts/segoeuisemibold.svg#segoeuisemibold') format('svg');
}
@font-face {
    font-family: 'Segoe UI';
    src: url('SegoeUI.eot');
    src: url('SegoeUI.eot?#iefix') format('embedded-opentype'),
        url('SegoeUI.woff2') format('woff2'),
        url('SegoeUI.woff') format('woff'),
        url('SegoeUI.ttf') format('truetype'),
        url('SegoeUI.svg#SegoeUI') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ArialRegular';
    src: url('fonts/ArialRegular.eot');
    src: url('fonts/ArialRegular.eot') format('embedded-opentype'),
         url('fonts/ArialRegular.woff2') format('woff2'),
         url('fonts/ArialRegular.woff') format('woff'),
         url('fonts/ArialRegular.ttf') format('truetype'),
         url('fonts/ArialRegular.svg#ArialRegular') format('svg');
}
body, textarea{
	background-color: #F2F4F5 !important;
}
li,a {
	text-decoration: none !important;
}
li:hover,a:hover {
	text-decoration: none !important;
}
/*НАВИГАЦИЯ*/
header {
	background-color: #16A361;
}
.navi{
		height: 72px;
}
h2 {
	font-family: 'Segoe UI' bold ;
	line-height: 43px;
	font-size: 32px;
	font-weight: bold;

}
h3 {
	font-size: 24px;
	font-weight: bold;
	line-height: 32px;
}
.posnews{   
    padding: 7px 48px;
    background: #1DBF73;
    border-radius: 4px;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}
.big-post {
	border-radius: 4px;
	background-color: #ffffff;
}
.big-post p {
	font-size: 16px;
	font-weight: bold;
}
.newadv{
	padding: 12px 22px;
	color: #1DBF73 !important;
	background-color: #fff !important;
	-webkit-box-shadow: inset 0 0 0 8px #fff;
    -moz-box-shadow: inset 0 0 0 8px #fff;
    -ms-box-shadow: inset 0 0 0 8px #fff;
    -o-box-shadow: inset 0 0 0 8px #fff;
    box-shadow: inset 0 0 0 8px #fff;
    border-radius: 4px;
    transition: all .3s;
}
.newadv:hover{
	background-color: transparent !important;
	color: #fff !important;
	transition: all .3s;
}
.login,.logo,.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo a, .logo a:hover{
	font-family:'Segoe UI' bold;
	font-size: 32px;
	color: #FFFFFF;
}
.menu span {
	color: #FFFFFF;
	font-size: 16px;
}
.login li {
	list-style-type: none;
	margin-left: 40px;
}
/*ПОИСК*/
/*ГРУППЫ ОБЪЯВЛЕНИЙ*/
.img-fluid{
	border-radius: 4px;
}
#one, .input-group{
	background-color: #fff;
}
.catlink{
	border-radius: 4px;
	position: relative;
	transition: all .3s;
}
.catlink:hover{
-webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.16);
-moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.16);
box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.16);
transition: all .3s;
}
.button{
	position: absolute;
	bottom: 163px;
	left: 203px;
	width: 195px;
}
.popular .button{
	bottom: 95px;
	left: 50px;
	font-size: 16px;
	width: 215px;
}
.catlink{
	border-radius: 4px;
	position: relative;
	transition: all .3s;
}
.catlink:hover, .carpol:hover, .product-link:hover, .shadbord:hover{
-webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.16);
-moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.16);
box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.16);
transition: all .3s;
} 
.button{
	position: absolute;
	bottom: 163px;
	left: 203px;
	width: 195px;
}
.button a{
	padding: 12px 25px;
	background-color: rgba(29, 191, 115, 0.8); !important;
	color: #fff !important;
	border-radius: 4px;
	transition: all .3s;
}
.button a:hover {
	background-color: rgba(29, 191, 115, 1); !important;
	transition: all .3s;
}
/*ПРОДУКТ*/
.product-link {
	background-color: #fff;
	border-radius: 4px;
	transition: all .3s;
	position: relative;
}
.wish-button{
	position: absolute;
	top: 24px;
	left: 23px;
	width: 100%;
}
.inner strong {
	font-size: 16px;
    color: black;
    font-weight: 500;
}
.car-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.car-info li{
	margin-left: 15px;
	list-style-type: ;
	color: #1DBF73;
}
.car-info span {
	color: black;
}
.butcoul a:hover, .drt a:hover, .mess button:hover{
	background-color: transparent !important;
	color:  #1DBF73 !important;
	transition: all .3s;
	-webkit-box-shadow: inset 0 0 0 8px #1DBF73;
    -moz-box-shadow: inset 0 0 0 8px #1DBF73;
    -ms-box-shadow: inset 0 0 0 8px #1DBF73;
    -o-box-shadow: inset 0 0 0 8px #1DBF73;
    box-shadow: inset 0 0 0 8px #1DBF73;
}
.car-info span, .shadbord a, .avtor a, .articl{
	color: black;
}
.shadbord a:hover, .avtor a:hover, .articl:hover, .inner strong:hover{
	color: #1DBF73;
}
.dropdown-menu{
	background-color: black;
}
.drt a{
	background-color: #1DBF73;
	font-size: 24px;
	border: none;
	width: 70%;
    border-radius: 4px;
    transition: all .3s;
}
.footbut button{
	width: 48%;
}
.opis p{
	font-family: 'ArialRegular';
}
.butcoul a{
	background-color: #1DBF73;
	font-size: 24px;
	border: none;
	width: 90%;
    border-radius: 4px;
    transition: all .3s;
    color: white;
}
.mess button{
	background-color: #1DBF73;
	border: none;
    transition: all .3s;
    color: white;
    padding: 10px 60px;
} 
.gvno{
	display: flex;
	background-color: #fff;
	font-size: 10px;
}
.brp, .descrip, .slidbox, .cardd, .cardblone{
	background-color: #fff;
}
.names {
	font-size: 24px;
}
#myCarousel .list-inline {
    white-space:nowrap;
    overflow-x:auto;
}

#myCarousel .carousel-indicators {
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
}

#myCarousel .carousel-indicators > li {
    width: initial;
    height: initial;
    text-indent: initial;
}

#myCarousel .carousel-indicators > li.active img {
    opacity: 1;
}
.light-cars{
	height: 320px;
}
.text-car h4{
	line-height: 8.2;
	font-size: 32px;
	color: #ffffff;
}
footer {
	background-color: #1DBF73;
	
}
footer a, footer a:hover{
	color: #ffffff;
	font-size: 22px;
}

  .col-scroll {
    overflow-y: scroll;
    max-height: 800px;
  }
  .col-main {
    height: 400px;
    border: 1px dashed #d3d3d3;
  }
  .huy{
  	border: none;
  	width: 100%;
  	border-top:1px solid #DEDEE1;
  	background-color: #F2F4F5;
  	font-weight: 500;

  }
  .leftnav {
  	width: 100%;
  }
  .vipad button{
  	background-color: #DEDEE1;
  	color:black;
  }
  .vipad button:hover{
  	color: black;
  	background-color: #fff;
  }
  .marks {
  	font-size: 12px;
  }
  .close span{
  	font-size: 18px;
  }
 .btn-circle, .btn-xl, .color button{
  	width: 50px;
    height: 50px;
    padding: 15px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
    margin: 10px;
  }
  .btn-circle.btn-sm { 
            width: 30px; 
            height: 30px; 
            padding: 6px 0px; 
            border-radius: 15px; 
            font-size: 8px; 
            text-align: center; 
        } 
        .btn-circle.btn-md { 
            width: 50px; 
            height: 50px; 
            padding: 7px 10px; 
            border-radius: 25px; 
            font-size: 10px; 
            text-align: center; 
        } 
        .btn-circle.btn-xl { 
            width: 70px; 
            height: 70px; 
            padding: 10px 16px; 
            border-radius: 35px; 
            font-size: 12px; 
            text-align: center; 
        } 

