body {
	background-color: #F2F4F5 !important;
}
li,a {
	text-decoration: none !important;
}
li:hover,a:hover {
	text-decoration: none !important;
}
/*НАВИГАЦИЯ*/
header {
	background-color: #1DBF73;
}
.navi{
		height: 72px;
}
h2 {
	line-height: 43px;
	font-size: 32px;
	font-weight: bold;
}
h3 {
	font-size: 24px;
	font-weight: bold;
	line-height: 32px;
}
.posnews{   
    padding: 7px 48px;
    background: #1DBF73;
    border-radius: 4px;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}
.big-post {
	border-radius: 4px;
	background-color: #ffffff;
}
.big-post p {
	font-size: 16px;
	font-weight: bold;
}
.newadv{
	padding: 12px 22px;
	color: #1DBF73 !important;
	background-color: #fff !important;
	-webkit-box-shadow: inset 0 0 0 8px #fff;
    -moz-box-shadow: inset 0 0 0 8px #fff;
    -ms-box-shadow: inset 0 0 0 8px #fff;
    -o-box-shadow: inset 0 0 0 8px #fff;
    box-shadow: inset 0 0 0 8px #fff;
    border-radius: 4px;
    transition: all .3s;
}
.newadv:hover{
	background-color: transparent !important;
	color: #fff !important;
	transition: all .3s;
}
.login,.logo,.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo a, .logo a:hover{
	font-size: 32px;
	color: #FFFFFF;
}
.menu span {
	color: #FFFFFF;
	font-size: 16px;
}
.login li {
	list-style-type: none;
	margin-left: 40px;
}
/*ПОИСК*/
/*ГРУППЫ ОБЪЯВЛЕНИЙ*/
.img-fluid{
	border-radius: 4px;
}
#one{
	background-color: #fff;
}
.catlink{
	border-radius: 4px;
	position: relative;
	transition: all .3s;
}
.catlink:hover{
-webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.16);
-moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.16);
box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.16);
transition: all .3s;
}
.button{
	position: absolute;
	bottom: 163px;
	left: 203px;
	width: 195px;
}
.popular .button{
	bottom: 95px;
	left: 50px;
	font-size: 16px;
	width: 215px;
}
}
.catlink{
	border-radius: 4px;
	position: relative;
	transition: all .3s;
}
.catlink:hover{
-webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.16);
-moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.16);
box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.16);
transition: all .3s;
}
.carpol:hover{
-webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.16);
-moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.16);
box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.16);
transition: all .3s;
} 
.button{
	position: absolute;
	bottom: 163px;
	left: 203px;
	width: 195px;
}
.button a{
	padding: 12px 25px;
	background-color: rgba(29, 191, 115, 0.8); !important;
	color: #fff !important;
	border-radius: 4px;
	transition: all .3s;
}
.button a:hover {
	background-color: rgba(29, 191, 115, 1); !important;
	transition: all .3s;
}

/*ПРОДУКТ*/
.product-link {
	background-color: #fff;
	border-radius: 4px;
	transition: all .3s;
	position: relative;
}
.product-link:hover {
	-webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.16);
-moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.16);
box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.16);
transition: all .3s;
}
.wish-button{
	position: absolute;
	top: 24px;
	left: 23px;
	width: 100%;
}
.inner strong {
	font-size: 16px;
    color: black;
    font-weight: 500;
}
.car-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.car-info li{
	margin-left: 15px;
	list-style-type: ;
	color: #1DBF73;
}
.car-info span {
	color: black;
}
.shadbord{
	background-color: white;
}
.shadbord a {
	color: black;
}
.shadbord img {
	border-radius: 4px;
}
.drt a{
	background-color: #1DBF73;
	font-size: 24px;
	border: none;
	width: 70%;
    border-radius: 4px;
    transition: all .3s;
}
.drt a:hover{
	background-color: transparent !important;
	color:  #1DBF73 !important;
	transition: all .3s;
	-webkit-box-shadow: inset 0 0 0 8px #fff;
    -moz-box-shadow: inset 0 0 0 8px #fff;
    -ms-box-shadow: inset 0 0 0 8px #fff;
    -o-box-shadow: inset 0 0 0 8px #fff;
    box-shadow: inset 0 0 0 8px #fff;
}
footer {
	margin-top: 100px;
}
.cardblone {
	background-color: #fff;
}
.butcoul a:hover {
	background-color: transparent !important;
	color:  #1DBF73 !important;
	transition: all .3s;
	-webkit-box-shadow: inset 0 0 0 8px #fff;
    -moz-box-shadow: inset 0 0 0 8px #fff;
    -ms-box-shadow: inset 0 0 0 8px #fff;
    -o-box-shadow: inset 0 0 0 8px #fff;
    box-shadow: inset 0 0 0 8px #fff;
}
.butcoul a{
	background-color: #1DBF73;
	font-size: 24px;
	border: none;
	width: 90%;
    border-radius: 4px;
    transition: all .3s;
    color: white;
}
.gvno{
	display: flex;
	background-color: #fff;
	font-size: 14px;
}
.brp, .descrip {
	background-color: #fff;
}
.slidbox, .cardd{
	background-color: #fff;
}
.names {
	font-size: 24px;
}
.sliderbig{
	position: relative;
}
.slick-track{
	display:flex;
	align-items: flex-start;
}
.slick-list {
	overflow: hidden;
}
.sliderbig .slick-arrow{
	position: absolute;
	top: 50%;
	z-index: 10;
	font-size: 0;
	width: 50px;
	height: 50px;
}
.sliderbig .slick-arrow.slick-prev{
	left: 0;
	background: url('../img/icon/1492533535-arrow-15_83310.svg') 0 0 / 100% no-repeat;
}
.sliderbig .slick-arrow.slick-next{
	right: 0;
	background: url('../img/icon/1492533535-arrow-15_83310.svg') 0 0 / 100% no-repeat;
}
.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content:center;
}
.slider .slick-dots li{
	list-style: none;
}
.slider .slick-dots button{
	font-size: 0;
	list-style: none;
	display: none;

}
.slider .slick-arrow .slick-disabled{
	opacity: 0.2;
}
.sliderbig {}
.sliderbig_item{
	text-align: center;
}