        body{
        padding-top:4.2rem;
		padding-bottom:4.2rem;
        background: #134E5E;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
        }
        a{
         text-decoration:none !important;
         color: #1dbf73 !important;
         }
         h1,h2,h3{
         font-family: 'Kaushan Script', cursive;
         }
          .myform{
		position: relative;
		display: -ms-flexbox;
		display: flex;
		padding: 1rem;
		-ms-flex-direction: column;
		flex-direction: column;
		width: 100%;
		pointer-events: auto;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid rgba(0,0,0,.2);
		/*border-radius: 1.1rem;*/
		outline: 0;
		max-width: 500px;
		 }
         .myform::before, .myform::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 3.5px;
            left: 0;
            background: #fff;
            z-index: -1;
            -webkit-transform: rotateZ(3deg);
            -moz-transform: rotateZ(3deg);
            -ms-transform: rotateZ(3deg);
            border: 1px solid #ccc;
         }
         .myform::after{
            top: 5px;
            z-index: -2;
            -webkit-transform: rotateZ(-3deg);
            -moz-transform: rotateZ(-3deg);
            -ms-transform: rotateZ(-3deg);
         }
         .form-control:focus{
            border-color: #1dbf73 !important;
            box-shadow: 0 0 0 0.2rem rgba(29,191,115,.25) !important;
         }
         .btn-primary{
            background-color: #1dbf73 !important;
            border-color: #1dbf73 !important;
         }
         .btn-primary:hover{
            background-color: #19a463 !important;
         }
         .btn.focus, .btn:focus {
            box-shadow: 0 0 0 0.2rem rgba(29,191,115,.25) !important;
        }
         .tx-tfm{
         text-transform:uppercase;
         }
         .mybtn{
         border-radius:50px;
         }
        
         .login-or {
         position: relative;
         color: #aaa;
         margin-top: 10px;
         margin-bottom: 10px;
         padding-top: 10px;
         padding-bottom: 10px;
         }
         .span-or {
         display: block;
         position: absolute;
         left: 50%;
         top: -2px;
         margin-left: -25px;
         background-color: #fff;
         width: 50px;
         text-align: center;
         }
         .hr-or {
         height: 1px;
         margin-top: 0px !important;
         margin-bottom: 0px !important;
         }
         .google {
         color:#666;
         width:100%;
         height:40px;
         text-align:center;
         outline:none;
         border: 1px solid lightgrey;
         }
          form .error {
         color: #ff0000;
         }
         #second{display:none;}