        body {
            background-color: #f4f3ef;

        }

        a {
            text-decoration: none !important;
            color: #31BFB1 !important;
        }

        h1,
        h2,
        h3 {
            font-family: 'Kaushan Script', cursive;
        }

        a:hover {
            color: #5fb727 !important;
        }

        .wrapper {
            height: 100vh;
            display: flex;
        }

        .myform {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            padding: 1rem;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 100%;
            pointer-events: auto;
            background-color: #fff;
            background-clip: padding-box;
            border-radius: 1.1rem;
            outline: 0;
            max-width: 500px;
            -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
        }

        .form-control:focus {
            border-color: #31BFB1 !important;
            box-shadow: 0 0 0 0.2rem rgba(29, 191, 115, .25) !important;
        }

        .btn-primary {
            background-color: #31BFB1 !important;
            border-color: #31BFB1 !important;
        }

        .btn-primary:hover {
            background-color: #31BFB1 !important;
        }

        .btn.focus,
        .btn:focus {
            box-shadow: 0 0 0 0.2rem rgba(29, 191, 115, .25) !important;
        }

        .tx-tfm {
            text-transform: uppercase;
        }

        .mybtn {
            border-radius: 50px;
        }

        .login-or {
            position: relative;
            color: #aaa;
            margin-top: 10px;
            margin-bottom: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .span-or {
            display: block;
            position: absolute;
            left: 50%;
            top: -2px;
            margin-left: -25px;
            background-color: #fff;
            width: 50px;
            text-align: center;
        }

        .hr-or {
            height: 1px;
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }

        .google {
            color: #666;
            width: 100%;
            height: 40px;
            text-align: center;
            outline: none;
            border: 1px solid lightgrey;
        }

        form .error {
            color: #ff0000;
        }

        #second {
            display: none;
        }

        /* CALC Section */

        .card-img {
            background-color: #31BFB1;
            -webkit-transition: all 0.5s 0s ease;
            -moz-transition: all 0.5s 0s ease;
            -o-transition: all 0.5s 0s ease;
            transition: all 0.5s 0s ease;
        }

        .card {
            -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
            -webkit-transition: all 1s 0s ease;
            -moz-transition: all 1s 0s ease;
            -o-transition: all 1s 0s ease;
            transition: all 1s 0s ease;
        }

        .card-img {
            background-color: #31BFB1;
            -webkit-transition: all 1s 0s ease;
            -moz-transition: all 1s 0s ease;
            -o-transition: all 1s 0s ease;
            transition: all 1s 0s ease;
        }

        .card-link {
            -webkit-transition: all 1s 0s ease;
            -moz-transition: all 1s 0s ease;
            -o-transition: all 1s 0s ease;
            transition: all 1s 0s ease;
        }

        .card-navi:hover .card {
            background-color: rgba(49, 191, 177, 0.5);
            -webkit-transition: all 1s 0s ease;
            -moz-transition: all 1s 0s ease;
            -o-transition: all 1s 0s ease;
            transition: all 1s 0s ease;
        }

        .card-navi:hover .card-img {
            background-color: #fff;
            -webkit-transition: all 0.5s 0s ease;
            -moz-transition: all 0.5s 0s ease;
            -o-transition: all 0.5s 0s ease;
            transition: all 0.5 0s ease;
        }

        .card-navi:hover .card-link {
            color: #fff !important;
            -webkit-transition: all 1s 0s ease;
            -moz-transition: all 1s 0s ease;
            -o-transition: all 1s 0s ease;
            transition: all 1s 0s ease;
        }